<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JACK'S SECRET STORE</title>
    {% load  static %}
    <link rel="icon" href={% static "image/J2.ico" %}  type="img/x-ico"/>
    <!-- Bootstrap Core JavaScript -->
    <script src={% static "/vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "/vendor/bootstrap/js/bootstrap.min.js" %}></script>

    <!-- Bootstrap Core CSS -->
    <link href={% static "/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    {#    font-awesome CSS#}
    <link href={% static "/vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">

    <style>
        html, body {
            height: 100%;
        }

        .nav-pills {
            background-color: pink;
        }

        #iframeMapping {
            height: 90%;
            width: 100%;
        {#            width:100%;#}
        }

    </style>

    <script type="text/javascript">
        //Funcs
        $(document).ready(function () {
            $('#ip').bind('click', function () {
                $('#iframeMapping').attr('src', '/west/ip/');
            });
        });
        $(document).ready(function () {
            $('#pdf2String').bind('click', function () {
                $('#iframeMapping').attr('src', '/west/pdf2String/');
            });
        });

        //Funs
        $(document).ready(function () {
            $('#Bdanmaku2pic').bind('click', function () {
                $('#iframeMapping').attr('src', '/west/Bdanmaku2pic/');
            });
        });

    </script>
</head>
<body>

{#<p>带有下拉菜单的胶囊</p>#}
<div>
    <ul class="nav nav-pills" border:5px solid blue;>
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Functions <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li id="ip"><a href="#">IP查询</a></li>
                <li id="pdf2String"><a href="#">pdf转文本</a></li>
                <li class="divider"></li>
                <li><a href="#">To be continued</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Funs <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li id="Bdanmaku2pic"><a href="#">B站弹幕转云图</a></li>
                <li class="divider"></li>
                <li><a href="#">To be continued</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Others <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li id="Bdanmaku2pic"><a href="#">Pron</a></li>
                <li class="divider"></li>
                <li><a href="#">To be continued</a></li>
            </ul>
        </li>
    </ul>
</div>

<iframe id="iframeMapping" src="" frameborder="0"></iframe>

<div class="panel-footer" style="text-align: center">
    Contact Me:xhxu_vip@sina.com    TEL：17717879601    Copyright &copy; 2017 Jack. All Rights Free.
</div>


</body>
</html>